footer{
    width: 100%;
    color: @header-font-color;
    .bar-bg();
    font-size: 1.2rem;
    .centered-text(); // Signin link and copyright info on opposite sides of footer
    .signin{ // signin link in footer has same style as navbar links
        width: 40%;
        a{
            .navlinks();
        }
    }
}