.home {
  .banner {
    img {
      display: block;
      max-width: 100%;
      margin: 10vh auto;
    }
  }
  .side-by-side {
    margin: 5vh 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    .text-box {
      max-width: 50%;
      padding: 5%;
      background-color: fade(@text-bg, 5%);
      &:hover {
        background-color: fade(@text-bg, 40%);
      }
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
    }
    img {
      max-width: 45%;
      max-height: 30%;
    }
    @media @tablet {
      position: relative;
      img {
        max-width: 100%;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .text-box {
        border: 1px dotted @main-font-color;
        z-index: 1;
        max-height: 100%;
        max-width: 100%;
        background-color: fade(@text-bg, 30%);
        &:hover {
          background-color: fade(@text-bg, 80%);
        }
      }
    }
  }
} // home
