// Navigation code here
nav { // sticky positioning for navigation
    z-index: 2;
    position: sticky;
    top: 0;
    width: 100%;
    .centered-text();
    color: @header-font-color;
    .bar-bg();
    &:hover {
        opacity: 1;
    }
    .navbar {
        width: 50%;
        .centered-text();
        a {
            .navlinks();
        }
    }
    @media @phone{ // For mobile view only, links stack below title
        flex-flow: column nowrap;
        .navbar{
            width: 100%;
        }
    }
}