//Colors
@header-font-color: black;
@main-font-color: black;
@nav-hover-color: darkblue;

@text-bg: whitesmoke; //opacity controlled by .text-bg-fade in mixins
@body-bg: turquoise; //hidden by background image
@nav-bg: paleturquoise; //opacity controlled by .bar-bg in mixins

//Images
@bg-img: url("../img/turqbg.jpg");

//Media Sizes
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";